.CheckoutSummary {
    text-align: center;
    width: 80%;
    margin: auto;
    overflow: auto;
}
/* No use of below media query */
/* @media (min-width: 600px) {
    .CheckoutSummary {
        width: 500px;
    }
} */

