.Input {
    margin-bottom: 15px;
    padding: 6px 10px;
    width: 60%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: white;
}

.Input:focus {
    background-color: #ccc;
    outline: none;
}

.Invalid {
    border: 1px solid red;
}
.Invalid:focus {
    background-color: rgb(199, 147, 141);
}