.Menu {
    height: 100%;
    width: 30px;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: space-around;
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px 0px;
}

.Menu div {
    width: 90%;
    height: 3px;
    background-color: white;
}